{% extends "layout.html" %}

{% block mainContent %}
  <p>This is the about us page</p>
    <p>
    Meet the members of J-cubed!  We are all second-year MBA students at the Yale School of Management. 
    <table>
      <tr>
        <td><span id = "pricklysnail"><b>Jaze</b></span></td>
         <td><span id = "amusedhawk"><b>Joanne</b></span></td>
          <td><span id = "anteater"><b>Tony</b></span></td>
      </tr>
      <tr>
        <td><img id="{{pricklysnail}}-headshot" src = "http://www.conchsoc.org/sites/default/files/Steve%20Wilkinson/mw15/15_20_1.jpg"></td>
        <td><img id="{{amusedhawk}}-headshot" src = "http://sr.photos3.fotosearch.com/bthumb/TBZ/TBZ227/hawk003.jpg"></td>
        <td><img id="{{anteater}}-headshot"  src = "http://us.cdn3.123rf.com/168nwm/dedmazay/dedmazay1109/dedmazay110900010/10554369-ant-eater-on-a-white-background-vector-illustration.jpg"><td>
      </tr>
    </table>

{% endblock %}
