{% extends "layout.html" %}

{% block mainContent %}
  <p>    Meet the members of J-cubed!  We are all second-year MBA students at the Yale School of Management. 
    <table width=80%>
      <tr>
        <td><span id="pricklysnail-name">Jaze</span></td>
         <td><span id="amusedhawk-name">Joanne</span></td>
          <td><span id="anteater-name">Tony</span></td>
      </tr>
      <tr>
        <td><img id="pricklysnail-headshot" src = "http://www.mobot.org/jwcross/duckweed/Russe/snail3.gif"></td>
        <td><img id="amusedhawk-headshot" src = "http://sr.photos3.fotosearch.com/bthumb/TBZ/TBZ227/hawk003.jpg"></td>
        <td><img id="anteater-headshot"  src = "http://us.cdn3.123rf.com/168nwm/dedmazay/dedmazay1109/dedmazay110900010/10554369-ant-eater-on-a-white-background-vector-illustration.jpg"><td>
      </tr>
    </table>
    </p>
{% endblock %}
