{% extends "layout.html" %}

{% block mainContent %}

  {% if errors %}
    <div class="form-errors alert alert-errors" role="alert">
      <p>Please correct the following errors!</p>
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  <div class="input-group">
    <h1>Fill in the details below for your new event!</h1>
  	<form id="create-event" method="POST">
      <label for="title">Event title:</label>
      <input type="text" name="title" placeholder="Your event name">
      <p></p>
      <label for="location">Event location:</label>
      <input type="text" name="location" placeholder="Your event venue">
      <p></p>
      <label for="image">Event image:</label>
      <input type="text" name="image" placeholder="Input URL of image">
      <p></p>
      <label for="year">Event year:</label>
      <input type="text" name="year" placeholder="2015-2016">
      <p></p>
      <label for="month">Event month:</label>
      <input type="text" name="month" placeholder="1-12">
      <p></p>
      <label for="day">Event day:</label>
      <input type="text" name="day" placeholder="1-31">
      <p></p>
      <label for="hour">Event hour:</label>
      <input type="text" name="hour" placeholder="0-23">
      <p></p>
      <label for="minute">Event minute:</label>
      <input type="text" name="minute" placeholder="0-59">
      <p></p>
      <input type="submit" value="Submit">
    </form>
  </div>
{% endblock %}


