{% extends "layout.html" %}

{% block mainContent %}

  {% if errors %}
    <div class="form-errors alert alert-danger" role="alert">
      <h4>Please correct the following errors!</h4>
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  <div class="input-group">
    <h3>Create An Event</h3>
    <form id="create-event" method="POST">
      <label for="title" class=".sr-only"></label>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Event title</span>
        <input type="text" class="form-control" aria-describedby="basic-addon1" name="title" placeholder="Give it a short distinct name">
      </div>
      <p></p>
      <label for="location" class=".sr-only"></label>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Event location</span>
        <input type="text" class="form-control" aria-describedby="basic-addon1" name="location" placeholder="Specify where it's held">
      </div>
      <p></p>
      <label for="image" class=".sr-only"></label>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Event logo</span>
        <input type="text" class="form-control" aria-describedby="basic-addon1" name="image" placeholder="Picture = 1000 words">
      </div>
      <p></p>
      <label for="year"></label>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Year</span>
        <input type="text" class="form-control" aria-describedby="basic-addon1" name="year" placeholder="2015-2016">
      </div>
      <p></p>
      <label for="month"></label>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Month</span>
        <input type="text" class="form-control" aria-describedby="basic-addon1" name="month" placeholder="1-12">
      </div>
      <p></p>
      <label for="day"></label>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Day</span>
        <input type="text" class="form-control" aria-describedby="basic-addon1" name="day" placeholder="1-31">
      </div>
      <p></p>
      <label for="hour"></label>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Hour</span>
        <input type="text" class="form-control" aria-describedby="basic-addon1" name="hour" placeholder="0-23">
      </div>
      <p></p>
      <label for="minute"></label>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Minute</span>
        <input type="text" class="form-control" aria-describedby="basic-addon1" name="minute" placeholder="0-59">
      </div>
      <input type="submit" value="Submit">
    </form>
    <p></p>
    <p></p>
  </div>
{% endblock %}


