{% extends "layout.html" %}

{% block mainContent %}

  {% if errors %}
    <div class="form-errors alert alert-danger" role="alert">
      <h4>Please correct the following errors!</h4>
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  <div class="input-group">
    <h3>Create An Event</h3>
    <form id="create-event" method="POST">
      <div class="panel panel-default">
        <div class="panel-heading"><label for="title">Event title</label></div>
        <div class="panel-body"><input type="text" name="title" placeholder="Give it a short distinct name"></div>
      </div>
      <label for="location">Location</label>
      <p></p>
      <input type="text" name="location" placeholder="Specify where it's held">
      <p></p>
      <label for="image">Event logo</label>
      <p></p>
      <input type="text" name="image" placeholder="Picture = 1000 words">
      <p></p>
      <label for="year">Event year</label>
      <p></p>
      <input type="text" name="year" placeholder="2015-2016">
      <p></p>
      <label for="month">Event month</label>
      <p></p>
      <input type="text" name="month" placeholder="1-12">
      <p></p>
      <label for="day">Event day</label>
      <p></p>
      <input type="text" name="day" placeholder="1-31">
      <p></p>
      <label for="hour">Event hour</label>
      <p></p>
      <input type="text" name="hour" placeholder="0-23">
      <p></p>
      <label for="minute">Event minute</label>
      <p></p>
      <input type="text" name="minute" placeholder="0-59">
      <p></p>
      <input type="submit" value="Submit">
    </form>
  </div>
{% endblock %}


