{% extends "layout.html" %}

{% block mainContent %}
    <h1 id="title">{{event.title}}</h1>
    <img id="image" src="{{event.image}}"/>    
    <p>
        <time><span id="date" datetime="{{event.date}}">When: {{event.date|prettyDate}}</span></time>
    </p>
    <p>
        <span id="location">Where: {{event.location}}</span>
    </p>
    <p>
    Attendees:
    <ul id="attendees">
        {% for person in event.attending %}
        <li>{{person}}</li>
        {% endfor %}
    </ul>
    </p>

  <div class="rsvp">
    <h3>Make a reservation here:</h3>
    <form id="reservation" method="POST">
      <label for="email">Your email:</label>
      <input type="text" name="email">
    </form>
       <button>Submit</button>
  </div>
  

{% endblock %}